@font-face {
    font-family: 'Arual';
    src: url('../assets/font/Arual.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --title-font: 'Arual', serif;
  --body-font: 'Montserrat', sans-serif;
}


 html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-x: hidden;      /* Empêche le scroll horizontal */
    margin: 0;
}

body {
  width: 100%;
  max-width: 100%;        /* Empêche le débordement horizontal */
  overflow-x: hidden;

  transition: background-color 0.7s, background-image 0.7s;
}

 body.home-page {
    background-color: #F7F5F2;
    background-image: url('../assets/background-textures/concrete-wall-3.png');
}

body.gallery-page {
 background-color: #d6c7b0be;
  background-image: url('../assets/background-textures/grunge-wall.png');
}

body.creations-page {
     background-color: #d6c7b0be;
    background-image: url('../assets/background-textures/rocky-wall.png');
}
body.about-page {
    background-color: #A9A9A9;
    background-image: url('../assets/background-textures/wall-4-light.png');
}
body.contact-page {
    background-color: #A9A9A9;
    background-image: url('../assets/background-textures/grunge-wall.png');
}

header {
    position: fixed;
    display: flex;
    width: 95%;
    height: auto;
    margin: 1rem 1rem;
    justify-content: space-between; 
    align-items: flex-start; 

    z-index: 2000;

   
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arual', sans-serif;
  width: fit-content;
  height: max-content;


}

.header-logo h1 {
  color: #564545;
  margin: 0;
  padding: 0;
}
.header-logo h1 a {
  font-size: 3rem;
}

.header-logo h2 {
  margin: 0;
  padding: 0;
  color: #A9A9A9;
}
.header-nav {
    
    font-family: 'Arual', sans-serif;
    list-style: none;

    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1.7rem;
}


header a {
    font-size: 1.5rem;
    color: rgb(128, 116, 116);
    text-decoration: none;
}

.gallery-container,
.creations-container,
.about-container,
.contact-container {
    margin-top: 15vh;
}

.page-title {
    color: #564545;
    font-family: var(--title-font);
    font-size: 5rem;
    position: relative;
    left: 10%;

}

.swiper,
.mySwiper {
  width: 100vw;
  height: 100vh;
}

.swiper-wrapper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  display: block;
}
 .slogan1,
 .slogan2,
 .slogan3 {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 60%;
  text-align: center;
  color: #3a3939e5;
  letter-spacing: 5px;
  font-size: 2rem;
  z-index: 25;
  margin: 0;
  pointer-events: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}


/*GLOBAL STYLING(About, Contact etc...)*/

.page-title {
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Arual', sans-serif;
    font-size: 5rem;
    height: fit-content;
    margin-bottom: 2;
    overflow: hidden;
    margin-bottom: 1rem;
}